@include mq-500{
    .a-main-index{
        color: black;
        text-decoration: none;
        font-weight: bolder;
        border-bottom: $border;
        
    }
}
@include mq-501-1023{
    .a-main-index{
        color: black;
        text-decoration: none;
        font-weight: bolder;
    }
    .a-main-index:hover{
        font-size: larger;
    }
}
@include mq-1024{
    .a-main-index{
        color: black;
        text-decoration: none;
        font-weight: bolder;
    }
    .a-main-index:hover{
        font-size: larger;
    }
}