@include mq-1024{
.fotoLogo-headerIndex{
     margin-top: 25px;
     margin-left: 15px;
     width: 125px;
     height: 125px;
     border-radius: 75px 75px 75px 75px;
     border: solid 1px black;
}

/*INICIO MAIN INDEX*/
.div-mainIndex1 img{ 
     border-radius: 25px;
     border: $border;
}
.div-mainIndex2 img{
     border-radius: 25px;
     border: $border;
 }
 .img-mainIndex{
     border-radius: 15px;
     width: 125px;
     height: 200px;
     border: $border;
 }
}