@include mq-500{
    .ul-mainMDP{
        li{
        list-style:circle;
        font-size: x-small;
        }
    }
}
@include mq-501-1023{
    .ul-mainMDP{
        list-style:circle;
    }
}
@include mq-1024{
    .ul-mainMDP{
        list-style:circle;
    }
}