@include mq-500{
    .p-mainIndex1{
        font-size: xx-small;
        width: 125px
        }
        .p-mainIndex2{
            font-size: xx-small;
            width: 125px;
            align-self: center;
        }
        .div-mainIndex3{
            p{
                margin-right: 15px;
                }
        }
        .div-mainIndex4{
            p{
                margin-right: 15px;
                }
        }
        .div-mainIndex5{
            p{
                margin-right: 15px;
                }
        }
        .div-mainIndex6 {
            p{
            margin-right: 15px;
            }
        }
/*INICIO FOOTER INDEX*/
.div-footerIndex1{
    p{
    font-size: medium;
    width: 300px;
    }
    }
    /*PRODUCTOS*/
    .div-mainProductos2{
        p{
        width: 50px;
        font-weight: bolder;
        }
    }
    /*METODOS DE PAGO*/
    .p-mainMDP{
        font-size: x-small;
        font-weight: 0;
    }
}
@include mq-501-1023{
    .p-mainIndex2{
        font-size: x-small;
    }

/*INICIO FOOTER INDEX*/
.div-footerIndex1{
    p{
    font-size: smaller;
    width: 150px ;
    }
    }
    /*PRODUCTOS*/
    .div-mainProductos2{
        p{
        width: 50px;
        font-weight: bolder;
        }
    }
}
@include mq-1024{
    .p-mainIndex1{
        margin-left: 10px;
    }
    .p-mainIndex2{
        font-size: x-small;
        width: 110px;
    }
/*INICIO FOOTER INDEX*/
    .div-footerIndex1{
        p{
        font-size: medium;
        width: 300px;
        }
    }
    /*PRODUCTOS*/
    .div-mainProductos2{
        P{
        width: 50px;
        font-weight: bolder;
        }
    }
}