@include mq-500{
    .h1-header-index{
        margin-bottom: 70px;
        color: black;
        font-weight: bold;
        font-size: medium;
        align-self:center;
}
/*INICIO MAIN INDEX*/
.h2-main-index{
    font-size: small;
    font-weight: bolder;
}
/*INICIO FOOTER INDEX*/
.div-footerIndex1{
    h2{
    margin-left: 80px;
    font-weight: bolder;
    }
}
/*METODOS DE PAGO*/
.h1-mainMDP{
    font-weight: bolder;
    font-size: small;
}
.div-mainMDP2{
    h1{
        font-size: small;
        font-weight: bolder;
    }
}
.div-mainMDP2{
    h2{
        font-size: small;
        font-weight:bold;
    }
}
}
@include mq-501-1023{
    .h1-header-index{
        margin-top:70px;
        margin-bottom: 90px;
        color: black;
        font-size: larger;
        font-weight: bold;
}
/*INICIO FOOTER INDEX*/
.div-footerIndex1{
    h2{
    margin-left: 20px;
    font-weight: bolder;
    }
}
/*METODOS DE PAGO*/
.h1-mainMDP{
    font-weight: bolder;
}
.div-mainMDP2{
    h1{
    font-weight: bolder;
}
}
.div-mainMDP2{
    h2{
    font-weight:500;
    }
}
}
@include mq-1024{

.h1-header-index{
    margin-top:70px;
    color: black;
    font-weight: bold;
}

/*INICIO MAIN INDEX*/
.h2-main-index{
    margin-left: 10px;
}
/*INICIO FOOTER INDEX*/
.div-footerIndex1 {
    h2{
    margin-left: 80px;
    font-weight: bolder;
    }
}
/*METODOS DE PAGO*/
.h1-mainMDP{
    font-weight: bolder;
}
.div-mainMDP2{
    h1{
    font-weight: bolder;
    }
}
.div-mainMDP2 {
    h2{
    font-weight:500;
    }
}
}