//Aca van los estilos para una seccion en especifico, como el index, la pagina de contacto, de productos
@include mq-500{
    body{
        background: linear-gradient(#e66465, #9198e5, #9198e5, #e66465, #e66465, #9198e5);
    }
    /* HEADER */
    .header-index{
        @include flex(space-between);
        flex-wrap: wrap;
        height: 200px;
} 
    .div-header-index{
        @include flex(space-around);
        gap: 15px;
}
/*INICIO MAIN INDEX*/
.div-mainIndex1{
    @include flex(none);
    margin: 0px 20px 20px 20px;
}
.div-mainIndex1-1{
    margin-left: 15px;
}
.div-mainIndex2{
    @include flex(none);
    flex-direction: row-reverse;
    margin:20px;
}
.div-mainIndex2-2{
    margin-right: 15px;
}

.div-mainIndex3{
    @include flex(none);
    margin-left: 20px;
    margin-top: 10px;
}
.div-mainIndex4{
    @include flex(none);
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-top: 10px;
}
.div-mainIndex5{
    @include flex(none);
    margin-left: 20px;
    margin-top: 10px;
}
.div-mainIndex6{
    @include flex(none);
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-top: 10px;
}
/*INICIO FOOTER INDEX*/
.section-footer-index{
    @include flex(space-between);
    flex-direction: column;
}
.div-footerIndex1{
    margin: 25px;
    align-self: center;
}
.div-footerIndex2{
    align-self: center;
}
.div-footerIndex3{
    align-self: center;
}
}
@include mq-501-1023{
    body{
        background: linear-gradient(#e66465, #9198e5, #9198e5, #e66465, #e66465, #9198e5);
    }
    .header-index{
        @include flex(space-between);
        flex-wrap: wrap;
        height: 200px;
} 
    .div-header-index{
        @include flex(space-around);
        gap: 15px;
        align-items: center;
}
/*INICIO MAIN INDEX*/
.section-mainIndex1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px; 
}
.div-mainIndex1{
    margin-left: 50px;
    margin-top: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
}
.div-mainIndex2{
    margin-top: 25px;
    grid-column-start: 2;
    grid-column-end: 3;
}
.div-mainIndex3{
    margin-left: 20px;
}
.div-mainIndex5{
    margin-left: 20px;
}
/*INICIO FOOTER INDEX*/
.section-footer-index{
    @include flex(space-between);
}
.div-footerIndex1{
    margin: 15px;
}
.div-footerIndex2{
    width: 100px;
    align-self: center;
}
}

@include mq-1024{
    body{
        background: linear-gradient(#e66465, #9198e5, #9198e5, #e66465, #e66465, #9198e5);
    }
.header-index{
    @include flex(space-between);
    flex-wrap: wrap;
    height: 200px;
}

.div-header-index{
    @include flex(space-around);
    gap: 15px;
}

/*INICIO MAIN INDEX*/
.section-mainIndex1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px; 
}
.div-mainIndex1{
    @include flex(none);
    margin-left: 50px;
    margin-top: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.div-mainIndex2{
    @include flex(none);
    margin-top: 25px;
    grid-column-start: 3;
    grid-column-end: 5;
}
.div-mainIndex3{
    margin-left: 50px;
}
.div-mainIndex4{
    margin-left: 50px;
}
.div-mainIndex5{
    margin-left: 50px;
}
.div-mainIndex6{
    margin-left: 50px;
}

/*INICIO FOOTER INDEX*/
.section-footer-index{
    @include flex(space-between);
}
.div-footerIndex1{
    margin: 25px;
}
.div-footerIndex2{
    align-self: center;
}

}