//Aca van los estilos para una seccion en especifico, como el index, la pagina de contacto, de productos
@include mq-1024{
.header-index{
    @include flex(space-between);
    background-color: skyblue;
    flex-wrap: wrap;
    height: 200px;
}

.div-header-index{
    @include flex(space-around);
    gap: 15px;
}





}