@include mq-501-1023{
    .section-mainMDP{
        @include flex(none);
        border-top: $border;
        border-bottom: $border;
        flex-direction: column;
    }
    .div-mainMDP1{
        margin-top: 100px;
        margin-right: 25%;
        margin-left: 25%;
        margin-bottom: 100px;
    }
    .div-mainMDP2{
        margin-right: 25%;
        margin-left: 25%;
        margin-bottom: 100px;
    }
}
@include mq-1024{
.section-mainMDP{
    @include flex(none);
    border-top: $border;
    border-bottom: $border;
    flex-direction: column;
}
.div-mainMDP1{
    margin-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 100px;
}
.div-mainMDP2{
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 100px;
}
}